<?xml version="1.0" encoding="utf-8" ?>
<Menu>
  <MenuItem ImageURL="" Text="STR_HOME" DestinationURL="~/Activity/Index"/>
  <MenuItem Text="STR_RECORDS" AdminOnly="true">
    <MenuItem ImageURL="" Text="STR_PROJETOS" DestinationURL="~/Project/Index" AdminOnly="true"/>
    <MenuItem ImageURL="" Text="STR_SERVICES" DestinationURL="~/Service/Index" AdminOnly="true"/>
    <MenuItem ImageURL="" Text="STR_ORDENS_SERVICO" DestinationURL="~/Service/Index" AdminOnly="true">
      <MenuItem ImageURL="" Text="STR_LISTAR" DestinationURL="~/OrdemServico/List"/>
      <MenuItem ImageURL="" Text="STR_ALL" DestinationURL="~/OrdemServico/All" AdminOnly="true"/>
    </MenuItem>
  </MenuItem>
  <MenuItem ImageURL="" Text="STR_RELATORIOS" DestinationURL="~/Report/Index" AdminOnly="true">
      <MenuItem ImageURL="" Text="STR_PROJETOS" DestinationURL="~/Project/Index" AdminOnly="true"/>
  </MenuItem>
  <MenuItem Text="STR_USER" >
    <MenuItem ImageURL="" Text="STR_ADMIN" DestinationURL="~/User/List" AdminOnly="true"/>
    <MenuItem ImageURL="" Text="STR_PROFILE" DestinationURL="~/User/Profile" />
    <MenuItem ImageURL="" Text="STR_LOGOFF" DestinationURL="~/OpenId/Logout"/>
  </MenuItem>
</Menu>