@using CTT.Models.Menu
<!DOCTYPE html>
<html>
<head>
    <title>CTT - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    <body>
        @RenderBody()
    </body>
</html>